
# SERVIDOR

SERVER_PORT=8085
GLOBAL_PATH=/airline

# BASE DE DATOS (POSTGRESQL / NEON.TECH)

DB_URL=jdbc:postgresql:BD_URL
DB_USERNAME=user
DB_PASSWORD=password

# JPA / HIBERNATE
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false